In [2]:
import pandas as pd
import pymysql

conn = pymysql.connect(
                        user    = 'FIFA',
                        passwd  = 'FIFA!',
                        host    = "3.83.154.197",
                        port    = 3306,
                        db      = 'FIFA',
                        charset = 'utf8'
        )

cur = conn.cursor()

season = pd.read_csv("./Season.csv", index_col=0)
reviews = pd.read_csv("./Reviews.csv", index_col=0)

In [3]:
season

     id        name
0   101       ICON
1   201        NHD
2   202        TKI
3   206         TB
4   207         TT
..  ...         ...
60  504  20KLeague
61  506      20 PL
62  507  21KLeague
63  508      21 PL
64  510  22KLeague

[65 rows x 2 columns]