In [2]:
import pandas as pd
import pymysql

conn = pymysql.connect(
                        user    = 'FIFA',
                        passwd  = 'FIFA!',
                        host    = "3.83.154.197",
                        port    = 3306,
                        db      = 'FIFA',
                        charset = 'utf8'
        )

cur = conn.cursor()

season = pd.read_csv("./Season.csv", index_col=0)
reviews = pd.read_csv("./Reviews.csv", index_col=0)

In [11]:
season

     id        name
0   101       ICON
1   201        NHD
2   202        TKI
3   206         TB
4   207         TT
..  ...         ...
60  504  20KLeague
61  506      20 PL
62  507  21KLeague
63  508      21 PL
64  510  22KLeague

[65 rows x 2 columns]

In [12]:
reviews

,name,class_id,reviews,label
0,데이비드 시먼,101,ㅋㅋㅋㅋ이2새2끼 한 10판동안 존2나 어이없게 먹혀서 팔려고 잠금해제했더니 승격까...,1.0
1,데이비드 시먼,101,아 장점하나 더 있다. 멀던가능 하프라인까지 던져짐. 훈련코치 먹이면 더 멀리도 가능할듯,1.0
2,데이비드 시먼,101,잉국 친선용 콘시먼 후기하... 이형 꽁지머리 간지 유일한 잉글국대 레전드 키퍼로 ...,0.0
3,데이비드 시먼,101,개 병신새끼 쳐막는걸 못봤어 위치선정도 안돼 중거리슛 못막아 커브볼 못막아 땅볼볼 ...,0.0
4,데이비드 시먼,101,내가 고급여 키퍼를 딱 둘써봄 주공반데사르랑 콘시먼 둘의 특징 딱 한줄로 쓰자면주공...,0.0
...,...,...,...,...
250557,엄원상,510,살다살다 라부 6을 받는 선수는 처음이네... 은카 풀캐미 속도가 22토티 손흥민3...,NaN
250558,엄원상,510,축신이네 ㅋㅋ,NaN
250559,엄원상,510,새로운 적폐 k살라,NaN
250560,김태환,510,아니 딱 7카만 만들어서 쓰려하는데 은카 6트해서 한장 주는거 실화냐 ㅋㅋ 19a테...,NaN
250561,김태환,510,아 ㄹㅇ 좋다.. 급여대비 속가며 몸싸움이며 역동작 거의 없고 너무 잘쓰고 있음.....,NaN

In [6]:
from tqdm import tqdm

for row in tqdm(season.itertuples()):

    sql = (row[1], row[2])
    cur.execute('INSERT IGNORE INTO season (id, name) VALUES (%s, %s)', sql)
    conn.commit()
conn.close()

65it [00:30,  2.15it/s]

In [13]:
from tqdm import tqdm

for row in tqdm(reviews.itertuples()):

    sql = (row[1], row[2], row[3])
    cur.execute('INSERT IGNORE INTO reviews (name, class_id, reviews) VALUES (%s, %s, %s)', sql)
    conn.commit()
conn.close()

250562it [32:40:12,  2.13it/s]

In [3]:
reviews = pd.read_csv("./ICON_Reviews.csv", index_col=0)
reviews

,name,class_id,reviews,label
0,데이비드 시먼,101,ㅋㅋㅋㅋ이2새2끼 한 10판동안 존2나 어이없게 먹혀서 팔려고 잠금해제했더니 승격까...,1
1,데이비드 시먼,101,아 장점하나 더 있다. 멀던가능 하프라인까지 던져짐. 훈련코치 먹이면 더 멀리도 가능할듯,1
2,데이비드 시먼,101,잉국 친선용 콘시먼 후기하... 이형 꽁지머리 간지 유일한 잉글국대 레전드 키퍼로 ...,0
3,데이비드 시먼,101,개 병신새끼 쳐막는걸 못봤어 위치선정도 안돼 중거리슛 못막아 커브볼 못막아 땅볼볼 ...,0
4,데이비드 시먼,101,내가 고급여 키퍼를 딱 둘써봄 주공반데사르랑 콘시먼 둘의 특징 딱 한줄로 쓰자면주공...,0
...,...,...,...,...
16123,페렌츠 푸스카스,101,약발 2는 좀;;ㅋㅋ 잘 쓰시는건 알겠는데 오바는 ㅎㅎ;,-1
16124,페렌츠 푸스카스,101,이번 메타에서 개좋을 숨겨진 보석인듯 솔직히 약발2로 나왔어도 상관은 없었을거 같고...,1
16125,페렌츠 푸스카스,101,에이전트에서 뽑아서 50판정도 써본 후기키는 작아도 건장이라 몸빵 지리고 중거리랑 ...,1
16126,페렌츠 푸스카스,101,곧 올라올 원창연 리뷰 꼭보시길,-1
16127,페렌츠 푸스카스,101,푸스카스 약발3이라..,-1

In [6]:
from tqdm import tqdm

for row in tqdm(reviews.itertuples()):

    sql = (row[1], row[2], row[3], row[4])
    cur.execute('INSERT IGNORE INTO ICON_Reviews (name, class_id, reviews, label) VALUES (%s, %s, %s, %s)', sql)
    conn.commit()
conn.close()

16128it [1:54:22,  2.35it/s]